body {
    margin: 0;
    
    background-color:#0c071f;
}


main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 50px;
     
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0c071f;
    margin-bottom: 0%;    
}

h1 {
    font-size: 36pt;
    padding-left: 12px;
    color: #E3E7AF;
    
}


nav a {
    font-size: 16pt;
    color: black;
    padding-right: 18px;
    color: #E3E7AF; 
    text-decoration: none;     
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}


.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    margin-top: -33px;
    margin-left: 40px;
    background-color:#0c071f;
    background-size: cover;
    color: #E3E7AF;
}

.hero p {
    text-align: center;
    padding-top: 100px;
    font-size: 24pt;
    
}

#AboutMe {
    font-size: 18pt;
    border-right: 6px solid black;
    padding-bottom: 50px;
    color: #558B6E
}

#AboutMeContent {
    padding-left: 16px;
    padding-bottom: 50px;
    font-size: 20pt;
    color: #E3E7AF
}

#Work {
    font-size: 18pt;
    border-right: 6px solid black;
    padding-bottom: 500px;
    height: 1200px;
    color: #558B6E
}

#WorkContent {
    padding-left: 16px;
   
    grid-template-columns: 3fr;
    display: grid;
 
    height: 1200px;
    
}



#SoftwareDeveloper {
    height: 600px;
    position: relative;
    margin: auto;
    width: 1200px;
    
}

#HTML {
    display: flex;
}

#HTML img{
    width: 580px;
}

#Js {
    display: flex;
}

#Js img {
    width: 580px;
}

.Photo {
    margin-top: -5px;
    border: 20px solid #33658A;
}

#Resume {
    font-size: 18pt;
    border-right: 6px solid black;
    color: #558B6E
}

#ResumeContent {
    padding-left: 16px;
    font-size: 80pt;
    text-align: center;
    height: fit-content;
}

#ResumeContentBtn {
    background-color: #E3E7AF;
    

}


#ContactMe {
    font-size: 18pt;
    border-right: 6px solid black;
    width: 155px;
    color: #558B6E 
}

#ContactMeContent {
    padding-left: -10px;
    margin-left: -70px;
         
}


footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 50px; 
    
}

footer ul {
    list-style-type: none;
    color: #E3E7AF;
    padding: 50px;
    /* text-align: center; */
    /* margin-left: 50px;
    grid-template-columns: 3fr; */
}

footer ul li {
    display: inline-block;
    text-align: center;
    margin-left: 60px;
    font-size: 16pt;
}

/* Here starts the media queries that will allow varoius device accessibility and formatting

/* Cards are split into two columns at 992px or smaller */
/* @media screen and (max-width: 500px) { */
    /* body {
       
        width: 100%;
    }

    #AboutMeContent {

        width: 100%;
    } */

    /* main {

       display: grid;
       grid-template-columns: 1fr 1fr;

    }

} */